<p style="color:#0000FF";><b>
* 자료는 보통 순서대로 실행한다는 가정 하에 만듭니다. 제대로 실행이 되지 않는다면 이전의 셀을 실행했는지 다시 확인해 보세요. <br>
* ctrl+enter는 선택한 셀의 코드를 실행하고, shift+enter는 해당 셀 실행 후 다음 셀로 넘어갑니다.
    </b></p>

#### 0. 복습
- 자료형
- 자료형 변환

#### 1. 함수 (function)
- (1) 함수의 구조와 실행
- (2) Python 내장 함수
- (3) 메서드(method)

#### 2. 모듈 (module)

#### 3. Pandas: DataFrame
- (1) iloc & loc
- (2) Boolean indexing
- (3) sort_values
- 참고

# 0. 복습

## 자료형
Week2에서는 파이썬의 기본 자료형과 각 자료형(type)의 특징을 배웠습니다.

In [1]:
mynum = 10
mystring = "Hello world"
mybool = True
mylist = ['a', 'b', 'c']
mytuple = (1, 10, 100)
mydict = {'x': 1000, 'y':3.14, 101:"item"}

print(type(mynum), type(mystring), type(mybool), 
      type(mylist), type(mytuple), type(mydict))

<class 'int'> <class 'str'> <class 'bool'> <class 'list'> <class 'tuple'> <class 'dict'>

## 자료형 변환
자료형에 맞는 값을 넣어 변수를 만들 수도 있지만, 다른 자료형의 값을 넣어도 함수를 이용하여 자료형을 바꾸어 줄 수 있습니다.

In [2]:
str1 = str(5)
str2 = str(1.11)

print(str1 + str2) # 문자열끼리 +하면 이어짐

51.11

위의 문자열 변수 str1, str2를 숫자로 바꾸어 사용할 수 있습니다. 이 때 숫자가 정수(integer)인지 실수(float)인지 구분해야 합니다.

In [3]:
num1 = int(str1)
num2 = float(str2)
num3 = int(num2)

print("num1:", num1, "num2:", num2, "num3:", num3)
print(num1 + num2)

num1: 5 num2: 1.11 num3: 1
6.11

리스트, 튜플, 딕셔너리를 만드는 함수는 아래와 같습니다.

In [4]:
urlist = list("hello")
urtuple = tuple([9, 8, 7, 6])
urdict = dict(A = "Avocado", L = 'Lemon', P = 'Pear')

print(urlist, urtuple, urdict, sep = "\n")

['h', 'e', 'l', 'l', 'o']
(9, 8, 7, 6)
{'A': 'Avocado', 'L': 'Lemon', 'P': 'Pear'}

# 1. 함수 (function)

- 함수는 프로그램에서 한 번 이상 실행할 수 있도록 여러 코드를 그룹화하는 장치입니다.
함수는 입력(input)과 출력(output)을 받아 연산을 수행할 수 있습니다.

- 파이썬은 여러 내장 함수를 제공합니다.
파이썬은 여러 내장 함수를 제공하며, 우리는 이미 함수들을 사용해 왔습니다.

- 메서드(method)는 함수의 한 형태로, 특정 자료형에서만 동작하는 함수를 말합니다.
몇 가지 예를 통해 살펴봅시다.

## 1-(1). 함수의 구조와 실행
- 복잡한 코드를 여러 번 중복해서 작성하지 않고, 함수로 작성해서 입력값만 변경하도록 만들면 코드가 짧아집니다.
- 중복 작성을 줄여서 코드가 간단해지고 읽기 쉬워집니다.
- 서로 독립적인 작은 작업들을 함수로 만들어, 하나의 큰 일을 여러 개의 작은 단위로 나누어 볼 수 있습니다.
- 코드에 수정이 필요한 경우, 함수로 만들어 놓았을 때 한 번만 수정하고 일을 마칠 수 있습니다.

#### * 함수의 정의

def 함수명(매개변수parameter):
    
    수행할 문장1
    수행할 문장2
    ...
    return 결과값

#### * 함수의 실행
함수명(인수argument)

<img src='https://github.com/eunyu1031/Media_interface_2020Spr/blob/master/pics/inout.png?raw=true'/>

- **def**문이 실행되어야 함수가 만들어집니다. __들여쓰기__로 함수의 범위를 표시하는 데 유의합니다.
- **return**은 결괏값 변수를 되돌려 줍니다. 결괏값은 출력값, 리턴값, 돌려주는 값 등 유사한 용어들이 혼용되어 쓰입니다. 되돌려 줄 것이 없으면 return을 생략할 수 있으며, 이 경우엔 return None과 같습니다.
- **매개변수(parameter)**는 함수에 입력으로 전달된 값을 받는 변수를 뜻하고, **인수(argument)**는 def로 정의한 함수를 실행할 때 전달하는 입력값을 뜻합니다. 인수, 인자, 입력인수 등 비슷한 다른 용어와 혼용되어 쓰입니다. 함수를 실행할 때  직접적으로 전달하는 값을 의미합니다.
- 인수는 따로 정의하지 않으면 위치에 따라 전달됩니다.

간단한 예제 함수를 통해 함수의 작동 방식을 알아봅시다.

코드 (1)과 (2)는 따로 입력을 받지 않고도 동작할 수 있는 함수입니다. 다만 아래의 코드 (1)은 결괏값이 있는 함수이며, 코드 (2)는 결괏값이 없는 경우입니다. 

코드 (2)는 화면에만 출력하고 변수에 저장할 수 있는 값은 주지 않은 채 함수가 끝나버리기 때문에 return None과 같습니다.

In [0]:
# (1)
def Hello1():
    return "Hello world"

greeting1 = Hello1()
print(greeting1)

In [0]:
# (2)
def Hello2():
    print("Hello world")
    # return None

greeting2 = Hello2() # Hello world 출력
print(greeting2) # 저장되는 값이 없으므로 None

Python에서 아무것도 없음을 나타내는 표현이 None입니다. 다른 프로그램에서는 NULL로 쓰기도 합니다.

<img src='https://github.com/eunyu1031/Media_interface_2020Spr/blob/master/pics/nonepaper.png?raw=true'/>

코드 (3)은 하나의 입력값(매개변수)을 필요로 하기 때문에 함수를 사용할 때 3이라는 값을 넘겨주었습니다. 

코드(4)는 x, y 두 개의 입력값을 필요로 해서 두 개를 넘겨주었습니다.

In [5]:
# (3)
def sayHello(a):
    return "Hello "* a

sayHello(3)

'Hello Hello Hello '

In [6]:
# (4)
def CalNums(x, y):
    result = x - y
    return result

mynum = CalNums(4, 3)
print(mynum)

1

인수를 넘길 때 따로 지정하지 않으면 위치에 따라 값이 넘어가지만, 특정 매개변수를 지정해서 넘길 수 있습니다.

In [7]:
mynum2 = CalNums(y = 10, x = 100)
print(mynum2)

90

함수의 동작을 살펴보고 넘어갑시다.<br>
http://pythontutor.com/visualize.html#mode=edit

파이썬의 내장 함수는 위 (1)~(4) 예제처럼 모든 구성을 볼 수 없지만, help함수를 사용해서 그 매개변수와 기능을 확인할 수가 있습니다. 함수의 설명에서는 입력(매개변수)와 출력(return)에 유의해서 살펴봅니다.

## 1-(2) 파이썬 내장 함수
- 파이썬은 여러 내장 함수를 제공하며, 우리는 이미 print, len, int, type등 다양한 함수를 사용했습니다.
- help(함수명)으로 도움말을 볼 수 있습니다. 설명서를 보고 가구를 조립하듯 함수도 설명서를 보고 적절한 값을 넣을 수 있습니다.
- 파이썬 내장 함수에 대한 가장 정확한 설명은 공식 문서에서 볼 수 있습니다. 필요하다면 구글에 검색해 여러 예제를 찾아볼 수도 있습니다.<br>
https://docs.python.org/3/index.html <br>
https://docs.python.org/ko/3/library/functions.html
- 함수와 매개변수를 모두 외울 수는 없으므로 설명과 예제를 잘 읽고, 필요한 부분을 찾아서 사용할 줄 알아야 합니다.
- 각 함수의 입력값과 출력값에 유의합니다.

In [8]:
len("Life is short, you need Python")

30

len 함수는 여러 아이템을 묶어서 가지고 있는 자료형(container)의 길이, 즉 아이템의 수를 알려주는 함수입니다. 아무것도 넣지 않고 실행하면 인수가 필요하다고 에러가 납니다.

In [9]:
len() # error!

TypeError: len() takes exactly one argument (0 given)

help(함수명)으로 도움말을 확인할 수 있습니다. 함수명 뒤쪽의 괄호에서 어떤 값을 입력으로 받는지 확인할 수 있습니다.

In [10]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

obj는 객체(object)로, 객체는 자료형(type)과 값(value), 그리고 객체를 저장하는 메모리의 주소(identity)로 구성됩니다. 변수(variable)는 객체에 붙인 이름입니다.<br>
우리가 지금까지 배운 문자열, 리스트, 숫자 모두 객체이지만, 파이썬에서 기본으로 제공하는 내장 객체를 내장 자료형이라고 흔히 부르기 때문에 자료형으로 소개했습니다. 자세한 내용은 아래 링크를 참고하기 바랍니다.

https://docs.python.org/ko/3/reference/datamodel.html

len()함수의 결과가 숫자이므로 숫자 연산이 가능합니다. 예를 들어, 리스트 변수 list1의 중앙에 위치한 값을 바로 찾아낼 수 있습니다.

In [11]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

print(len(list1))
print(list1[len(list1)//2])

15
21

print 함수는 출력할 값을 받으며, sep, end 등의 매개변수를 받습니다. 매개변수에 __기본값(default)__이 있어서, 함수를 사용할 때 따로 지정하지 않으면 기본값대로 동작합니다.

In [12]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

sep은 출력하는 값 사이에 넣는 값을 지정하며 기본값은 스페이스(공백)입니다.

In [13]:
print(1,2,3,4,5)

1 2 3 4 5

end는 출력한 값 마지막에 넣는 값을 지정하며 기본값은 newline(\n, 엔터 한 번)입니다.

In [14]:
print("1st line")
print("2nd line")

1st line
2nd line

In [15]:
print("1st line", end = '\t') # tab으로 바꾸었을 때
print("2nd line")

1st line	2nd line

In [16]:
print("1st line", end = ' ') # 스페이스로 바꾸었을 때
print("2nd line")

1st line 2nd line

<p style="color:#0000FF";><font size = "5"><b>
연습하기
    </b></font></p>
    
#### 아래 print에서 sep을 활용하여 다음과 같이 출력하세요.

82-10-1234-5678

In [17]:
print(82, 10, 1234, 5678)

82 10 1234 5678

## 1-(3) 메서드 (method)
- 메서드(method)는 함수의 일종으로, 특정 자료형(type)에서만 작동합니다.
- 자료형의 특징에 따른 여러 기능을 제공합니다. 

메서드는 많은 경우 __변수.메서드__형식으로 사용합니다. help에서 도움말을 볼 때에도 앞에 자료형을 붙여주어야 합니다. <br>
각 자료형의 이름으로 메서드의 목록을 조회할 수 있습니다.

In [18]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [19]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

list.sort의 설명에서 in place는 리스트 변수의 값이 바뀐다는 뜻입니다(mutable). 예제를 살펴봅시다.

In [20]:
mylist = [9, 4, 10, 3, -8, 0]

mylist.sort()

print(mylist)

[-8, 0, 3, 4, 9, 10]

매개변수 reverse의 기본값을 바꾸어 봅시다.

In [21]:
mylist.sort(reverse = True)
print(mylist)

[10, 9, 4, 3, 0, -8]

list.sort 메서드는 값을 돌려주지 않고 원래 변수만 바꾸고 끝나기 때문에 None값이 newlist에 저장됩니다.

In [22]:
newlist = mylist.sort(reverse = True)
print(newlist)

None

결괏값을 돌려주는 메서드를 살펴봅시다. <br>
str.replace는 지정한 문자열을 다른 문자열로 바꾸어 주는 메서드입니다.

In [23]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

replace의 경우 입력값은 문자열(string) 변수이며, 결괏값으로는 문자열(string) 변수를 되돌려 줍니다.<br>
입력한 문자열 변수는 변하지 않으며, 새로 바뀐 문자열을 리턴합니다.

In [24]:
input1 = "1,234,500"
output1 = input1.replace(",","")

print(type(input1), input1)
print(type(output1), output1)
print(type(int(output1)), int(output1)) # 정수로 변환

<class 'str'> 1,234,500
<class 'str'> 1234500
<class 'int'> 1234500

<p style="color:#0000FF";><font size = "5"><b>
연습하기
    </b></font></p>
    
#### (1) 문자열 변수 cap에 str.lower를 활용한 후 원래 변수가 바뀌는지 확인하세요.

#### (2) 문자열 변수 test1, test2에 str.split을 활용하고 리턴된 결괏값의 자료형을 확인하세요.

#### (3) 리스트 변수 testlist에 list.append를 활용하고 원래 변수가 바뀌는지, 리턴된 결괏값의 자료형은 무엇인지 확인하세요.

In [25]:
help(str.lower)

Help on method_descriptor:

lower(self, /)
    Return a copy of the string converted to lowercase.

In [0]:
cap = "HELLO WORLD"

In [26]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [0]:
test1 = "Life is short, you need Python"
test2 = "2020-03-30"

In [27]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [0]:
testlist = [1, 'z', (1000, -10)]

# 2. 모듈 (module)

#### 파이썬 내장 함수 외의 함수를 사용하기 위해 모듈을 import로 가져올 수 있습니다.
모듈은 프로그램의 구성 단위로, 다른 모듈, 함수, 변수, 상수 등을 다시 사용하기 위해 묶어서 가지고 있습니다. 모듈은 파이썬 파일로, 직접 만들 수도 있고 다른 사람들이 만든 모듈을 가져와 사용할 수도 있습니다. 아래와 같이 import를 이용해서 파이썬 표준 라이브러리 내 모듈을 찾고 가져올 수 있습니다.

__import__ _모듈이름_

_모듈이름.함수이름()_

In [28]:
import random # import를 하지 않고 아래 코드를 실행하면 에러가 납니다.

In [29]:
myint = random.randint(1, 100)
print(myint)

94

random은 파이썬 내장 모듈로, randint(a, b)는 정수 a이상 b이하의 정수 중 아무 정수나 무작위로 택해서 결괏값으로 돌려주는 함수입니다.

https://docs.python.org/ko/3/library/random.html


<dl class="function">
<dt id="random.randint">
<code class="descclassname">random.</code><code class="descname">randint</code><span class="sig-paren">(</span><em>a</em>, <em>b</em><span class="sig-paren">)</span><a class="headerlink" href="#random.randint" title="정의 주소">¶</a></dt>
<dd><p>Return a random integer <em>N</em> such that <code class="docutils literal notranslate"><span class="pre">a</span> <span class="pre">&lt;=</span> <span class="pre">N</span> <span class="pre">&lt;=</span> <span class="pre">b</span></code>.  Alias for
<code class="docutils literal notranslate"><span class="pre">randrange(a,</span> <span class="pre">b+1)</span></code>.</p>
</dd></dl>

In [30]:
help(randint) # error

NameError: name 'randint' is not defined

import한 모듈의 함수를 사용할 때에는 앞에 모듈 이름을 붙여 주어야 하며, 이는 help를 사용할 때에도 적용됩니다.

In [31]:
help(random.randint)

Help on method randint in module random:

randint(a, b) method of random.Random instance
    Return random integer in range [a, b], including both end points.

#### 모듈에서 특정 함수만 가져오기
만약 모듈에서 특정 함수만 가져와서 사용하고 싶다면 from을 활용할 수 있습니다. 이 경우에 해당 모듈에서 다른 함수는 가져와서 사용할 수 없습니다.

__from__ _모듈이름_ __import__ _함수이름_

_함수이름()_

In [32]:
from time import sleep

time은 파이썬 내장 모듈로, 시간과 관련한 함수들을 가지고 있습니다. 이 중 sleep이라는 함수는 입력한 숫자만큼 동작을 하지 않고 대기하는 기능을 합니다.

https://docs.python.org/ko/3/library/time.html#time.sleep

In [33]:
help(time.sleep) # error

NameError: name 'time' is not defined

In [34]:
help(sleep)

Help on built-in function sleep in module time:

sleep(...)
    sleep(seconds)

    Delay execution for a given number of seconds.  The argument may be
    a floating point number for subsecond precision.

In [35]:
print("Please wait for a moment")
sleep(2)
print("Thank you for your patience")

Please wait for a moment
Thank you for your patience

**모듈 이름 바꾸어 사용하기**

만약 모듈의 이름이 길면 아래와 같이 간단하게 바꾸어 사용할 수도 있습니다.

__import__ _모듈이름_ __as__ _다른이름_

_다른이름.함수이름()_

In [36]:
import numpy 

myarr = numpy.ones((3, 4))
print(myarr)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [37]:
import numpy as np

myarr = np.ones((3, 4))
print(myarr)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

<p style="color:#0000FF";><font size = "5"><b>
연습하기
    </b></font></p>
    
#### (1) math 모듈에서 sqrt 함수만 가져와 사용해 보세요.
math는 파이썬 내장 모듈로, sqrt(x)는 x의 제곱근을 결괏값으로 돌려주는 함수입니다(√x). 

https://docs.python.org/ko/3/library/math.html

<dl class="function">
<dt id="math.sqrt">
<code class="descclassname">math.</code><code class="descname">sqrt</code><span class="sig-paren">(</span><em>x</em><span class="sig-paren">)</span><a class="headerlink" href="#math.sqrt" title="정의 주소">¶</a></dt>
<dd><p>Return the square root of <em>x</em>.</p>
</dd></dl>

#### (2) 파이썬 표준 라이브러리 os 모듈을 가져와 getcwd 함수의 결과를 얻어 보세요.
help 함수로 어떻게 사용하는지 살펴보세요.

# 3. Pandas

- 기본적으로 2차원 구조를 가진 DataFrame에서 인덱스(index) 또는 라벨(label)을 중심으로 필요한 값을 선택하는 iloc & loc의 동작을 살펴봅니다.
- 조건을 이용해 True인 부분만 가져오는 Boolean indexing을 알아봅니다.
- DataFrame의 값을 정렬하는 sort_values로 DataFrame의 동작을 이해합니다.

Series, DataFrame은 보다 편리하게 정의하기 위해 따로 받아오고, 다른 함수들을 사용할 때에는 pd.function 형태로 사용합니다.<br>
만약 from~ import를 사용하지 않았고 import~ as pd로만 모듈을 받아왔다면 var = pd.DataFrame(~)식으로 정의하면 됩니다.

In [38]:
from pandas import Series, DataFrame 
import pandas as pd

pd.__version__

'1.0.5'

In [39]:
# 딕셔너리 활용

holiday_dict = {'name':['삼일절', '어린이날', '부처님 오신 날', 
                        '광복절', '한글날', '기독탄신일'],
                'start_year':[1949, 1975, 1975, 1949, 1949, 1949],
                'moon':[False, False, True, False, False, False]}

holidays = DataFrame(holiday_dict)
holidays

       name  start_year   moon
0       삼일절        1949  False
1      어린이날        1975  False
2  부처님 오신 날        1975   True
3       광복절        1949  False
4       한글날        1949  False
5     기독탄신일        1949  False

In [40]:
holidays.columns

Index(['name', 'start_year', 'moon'], dtype='object')

In [41]:
holidays.index = ["3월", "5월", "음력4월", "8월","10월", "12월"]

In [42]:
holidays['moon']

3월      False
5월      False
음력4월     True
8월      False
10월     False
12월     False
Name: moon, dtype: bool

In [43]:
holidays

          name  start_year   moon
3월         삼일절        1949  False
5월        어린이날        1975  False
음력4월  부처님 오신 날        1975   True
8월         광복절        1949  False
10월        한글날        1949  False
12월      기독탄신일        1949  False

## 3-(1). DataFrame의 특정 값 확인하기: iloc & loc
Series와 달리 DataFrame은 2차원입니다. 따라서 행(row)과 열(column)의 색인(index) 또는 라벨(label)을 가지고 값을 불러올 수 있습니다. 문자열, 리스트에서 했던 인덱싱(indexing)과 슬라이싱(slicing)과 비슷하지만, DataFrame은 두 가지 방법을 지원합니다.
- DataFrame.**iloc[]**은 색인의 __순서를 나타내는 정수값(index)__을 받습니다.
- DataFrame.**loc[]**은 색인의 __라벨(label)__을 받습니다.

기본적으로 __[행(row), 열(column)]__ 순서이며, 하나의 값만 받은 경우에는 행(row)입니다.
<img src='https://github.com/eunyu1031/Media_interface_2020Spr/blob/master/pics/matrix.png?raw=true'/>


### iloc
색인(index)으로 가져올 수 있는 __iloc[]__을 살펴봅시다.

In [44]:
help(DataFrame.iloc)

Help on property:

    Purely integer-location based indexing for selection by position.

    ``.iloc[]`` is primarily integer position based (from ``0`` to
    ``length-1`` of the axis), but may also be used with a boolean
    array.

    Allowed inputs are:

    - An integer, e.g. ``5``.
    - A list or array of integers, e.g. ``[4, 3, 0]``.
    - A slice object with ints, e.g. ``1:7``.
    - A boolean array.
    - A ``callable`` function with one argument (the calling Series or
      DataFrame) and that returns valid output for indexing (one of the above).
      This is useful in method chains, when you don't have a reference to the
      calling object, but would like to base your selection on some value.

    ``.iloc`` will raise ``IndexError`` if a requested indexer is
    out-of-bounds, except *slice* indexers which allow out-of-bounds
    indexing (this conforms with python/numpy *slice* semantics).

    See more at :ref:`Selection by Position <indexing.integer>`.

    See Also
    --------
    DataFrame.iat : Fast integer location scalar accessor.
    DataFrame.loc : Purely label-location based indexer for selection by label.
    Series.iloc : Purely integer-location based indexing for
                   selection by position.

    Examples
    --------

    >>> mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
    ...           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
    ...           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
    >>> df = pd.DataFrame(mydict)
    >>> df
          a     b     c     d
    0     1     2     3     4
    1   100   200   300   400
    2  1000  2000  3000  4000

    **Indexing just the rows**

    With a scalar integer.

    >>> type(df.iloc[0])
    <class 'pandas.core.series.Series'>
    >>> df.iloc[0]
    a    1
    b    2
    c    3
    d    4
    Name: 0, dtype: int64

    With a list of integers.

    >>> df.iloc[[0]]
       a  b  c  d
    0  1  2  3  4
    >>> type(df.iloc[[0]])
    <class 'pandas.core.frame.DataFrame'>

    >>> df.iloc[[0, 1]]
         a    b    c    d
    0    1    2    3    4
    1  100  200  300  400

    With a `slice` object.

    >>> df.iloc[:3]
          a     b     c     d
    0     1     2     3     4
    1   100   200   300   400
    2  1000  2000  3000  4000

    With a boolean mask the same length as the index.

    >>> df.iloc[[True, False, True]]
          a     b     c     d
    0     1     2     3     4
    2  1000  2000  3000  4000

    With a callable, useful in method chains. The `x` passed
    to the ``lambda`` is the DataFrame being sliced. This selects
    the rows whose index label even.

    >>> df.iloc[lambda x: x.index % 2 == 0]
          a     b     c     d
    0     1     2     3     4
    2  1000  2000  3000  4000

    **Indexing both axes**

    You can mix the indexer types for the index and columns. Use ``:`` to
    select the entire axis.

    With scalar integers.

    >>> df.iloc[0, 1]
    2

    With lists of integers.

    >>> df.iloc[[0, 2], [1, 3]]
          b     d
    0     2     4
    2  2000  4000

    With `slice` objects.

    >>> df.iloc[1:3, 0:3]
          a     b     c
    1   100   200   300
    2  1000  2000  3000

    With a boolean array whose length matches the columns.

    >>> df.iloc[:, [True, False, True, False]]
          a     c
    0     1     3
    1   100   300
    2  1000  3000

    With a callable function that expects the Series or DataFrame.

    >>> df.iloc[:, lambda df: [0, 2]]
          a     c
    0     1     3
    1   100   300
    2  1000  3000

In [45]:
holidays

          name  start_year   moon
3월         삼일절        1949  False
5월        어린이날        1975  False
음력4월  부처님 오신 날        1975   True
8월         광복절        1949  False
10월        한글날        1949  False
12월      기독탄신일        1949  False

In [46]:
holidays.iloc[0, 0]

'삼일절'

In [47]:
holidays.iloc[0, 1]

1949

슬라이싱할 때처럼 __시작:끝__의 경우 끝 인덱스의 값이 결과에 포함되지 않습니다.

In [48]:
holidays.iloc[0:2]

    name  start_year   moon
3월   삼일절        1949  False
5월  어린이날        1975  False

만약 '시작' 이나 '끝' 중 하나를 비운다면 맨 처음부터 시작 또는 맨 끝까지 표시한다는 뜻입니다.

In [49]:
holidays.iloc[:2]

    name  start_year   moon
3월   삼일절        1949  False
5월  어린이날        1975  False

In [50]:
holidays.iloc[:2, :]

    name  start_year   moon
3월   삼일절        1949  False
5월  어린이날        1975  False

행, 열 모두에 슬라이싱을 활용해 봅시다.

In [51]:
holidays.iloc[:2, :2]

    name  start_year
3월   삼일절        1949
5월  어린이날        1975

연속하지 않은 행/열을 불러오고 싶을 때에는 리스트 형태로 묶어주면 됩니다.

In [52]:
holidays.iloc[[2, 4],:3]

          name  start_year   moon
음력4월  부처님 오신 날        1975   True
10월        한글날        1949  False

iloc을 사용해서 라벨로 가져오려고 하면 에러가 납니다. 이럴 때에는 loc을 사용해야 합니다.

In [53]:
holidays.iloc['10월'] # error

TypeError: Cannot index by location index with a non-integer key

### loc
행과 열에 지정한 라벨로 가져올 수 있는 __loc[]__을 살펴봅시다.

In [54]:
help(DataFrame.loc)

Help on property:

    Access a group of rows and columns by label(s) or a boolean array.

    ``.loc[]`` is primarily label based, but may also be used with a
    boolean array.

    Allowed inputs are:

    - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
      interpreted as a *label* of the index, and **never** as an
      integer position along the index).
    - A list or array of labels, e.g. ``['a', 'b', 'c']``.
    - A slice object with labels, e.g. ``'a':'f'``.

      .. warning:: Note that contrary to usual python slices, **both** the
          start and the stop are included

    - A boolean array of the same length as the axis being sliced,
      e.g. ``[True, False, True]``.
    - A ``callable`` function with one argument (the calling Series or
      DataFrame) and that returns valid output for indexing (one of the above)

    See more at :ref:`Selection by Label <indexing.label>`

    Raises
    ------
    KeyError
        If any items are not found.

    See Also
    --------
    DataFrame.at : Access a single value for a row/column label pair.
    DataFrame.iloc : Access group of rows and columns by integer position(s).
    DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
        Series/DataFrame.
    Series.loc : Access group of values using labels.

    Examples
    --------
    **Getting values**

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=['cobra', 'viper', 'sidewinder'],
    ...      columns=['max_speed', 'shield'])
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4       5
    sidewinder          7       8

    Single label. Note this returns the row as a Series.

    >>> df.loc['viper']
    max_speed    4
    shield       5
    Name: viper, dtype: int64

    List of labels. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[['viper', 'sidewinder']]
                max_speed  shield
    viper               4       5
    sidewinder          7       8

    Single label for row and column

    >>> df.loc['cobra', 'shield']
    2

    Slice with labels for row and single label for column. As mentioned
    above, note that both the start and stop of the slice are included.

    >>> df.loc['cobra':'viper', 'max_speed']
    cobra    1
    viper    4
    Name: max_speed, dtype: int64

    Boolean list with the same length as the row axis

    >>> df.loc[[False, False, True]]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series

    >>> df.loc[df['shield'] > 6]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series with column labels specified

    >>> df.loc[df['shield'] > 6, ['max_speed']]
                max_speed
    sidewinder          7

    Callable that returns a boolean Series

    >>> df.loc[lambda df: df['shield'] == 8]
                max_speed  shield
    sidewinder          7       8

    **Setting values**

    Set value for all items matching the list of labels

    >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4      50
    sidewinder          7      50

    Set value for an entire row

    >>> df.loc['cobra'] = 10
    >>> df
                max_speed  shield
    cobra              10      10
    viper               4      50
    sidewinder          7      50

    Set value for an entire column

    >>> df.loc[:, 'max_speed'] = 30
    >>> df
                max_speed  shield
    cobra              30      10
    viper              30      50
    sidewinder         30      50

    Set value for rows matching callable condition

    >>> df.loc[df['shield'] > 35] = 0
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       0
    sidewinder          0       0

    **Getting values on a DataFrame with an index that has integer labels**

    Another example using integers for the index

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=[7, 8, 9], columns=['max_speed', 'shield'])
    >>> df
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    Slice with integer labels for rows. As mentioned above, note that both
    the start and stop of the slice are included.

    >>> df.loc[7:9]
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    **Getting values with a MultiIndex**

    A number of examples using a DataFrame with a MultiIndex

    >>> tuples = [
    ...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
    ...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
    ...    ('viper', 'mark ii'), ('viper', 'mark iii')
    ... ]
    >>> index = pd.MultiIndex.from_tuples(tuples)
    >>> values = [[12, 2], [0, 4], [10, 20],
    ...         [1, 4], [7, 1], [16, 36]]
    >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
    >>> df
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Single label. Note this returns a DataFrame with a single index.

    >>> df.loc['cobra']
             max_speed  shield
    mark i          12       2
    mark ii          0       4

    Single index tuple. Note this returns a Series.

    >>> df.loc[('cobra', 'mark ii')]
    max_speed    0
    shield       4
    Name: (cobra, mark ii), dtype: int64

    Single label for row and column. Similar to passing in a tuple, this
    returns a Series.

    >>> df.loc['cobra', 'mark i']
    max_speed    12
    shield        2
    Name: (cobra, mark i), dtype: int64

    Single tuple. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[[('cobra', 'mark ii')]]
                   max_speed  shield
    cobra mark ii          0       4

    Single tuple for the index with a single label for the column

    >>> df.loc[('cobra', 'mark i'), 'shield']
    2

    Slice from index tuple to single label

    >>> df.loc[('cobra', 'mark i'):'viper']
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Slice from index tuple to index tuple

    >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                        max_speed  shield
    cobra      mark i          12       2
               mark ii          0       4
    sidewinder mark i          10      20
               mark ii          1       4
    viper      mark ii          7       1

In [55]:
holidays

          name  start_year   moon
3월         삼일절        1949  False
5월        어린이날        1975  False
음력4월  부처님 오신 날        1975   True
8월         광복절        1949  False
10월        한글날        1949  False
12월      기독탄신일        1949  False

In [56]:
holidays.loc['8월']

name            광복절
start_year     1949
moon          False
Name: 8월, dtype: object

In [57]:
holidays.loc['8월':]

      name  start_year   moon
8월     광복절        1949  False
10월    한글날        1949  False
12월  기독탄신일        1949  False

In [58]:
holidays.loc['8월':, 'name']

8월       광복절
10월      한글날
12월    기독탄신일
Name: name, dtype: object

__loc__은 __시작:끝__을 지정했을 때 끝의 값도 포함한다는 점에 주의합니다.

In [59]:
holidays.loc['5월':'10월', :]

          name  start_year   moon
5월        어린이날        1975  False
음력4월  부처님 오신 날        1975   True
8월         광복절        1949  False
10월        한글날        1949  False

만약 연속하지 않은 행/열을 불러오고 싶을 때에는 리스트 형태로 묶어주면 됩니다.

In [60]:
holidays.loc[['3월','8월'], 'name':'start_year']

   name  start_year
3월  삼일절        1949
8월  광복절        1949

loc은 라벨로만 가져올 수 있으므로, 색인(index)를 넣으면 에러가 납니다.

In [61]:
holidays.loc[0, 0] # error

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

다만 라벨이 없는 경우에는 기본 색인(0, 1, 2..)을 라벨처럼 사용합니다.

In [62]:
myf = DataFrame({'c1':Series([2, 4, 6, 8]), 
                 'c2':Series([5, 10, 15, 20])})
myf

   c1  c2
0   2   5
1   4  10
2   6  15
3   8  20

In [63]:
myf.loc[2:3]

   c1  c2
2   6  15
3   8  20

iloc과의 차이를 다시 알려드립니다.

In [64]:
myf.iloc[2:3]

   c1  c2
2   6  15

In [65]:
myf.loc[[0,3], 'c1':]

   c1  c2
0   2   5
3   8  20

<p style="color:#0000FF";><font size = "5"><b>
연습하기
    </b></font></p>

#### DataFrame 'holidays'에서 찾는 연습입니다.
#### (1) iloc을 사용해서 다음 정보를 가져오세요.
<pre>'광복절'</pre>

#### (2) loc을 사용해서 다음 정보를 가져오세요.
<pre>'한글날'</pre>

#### (3) iloc을 사용해서 다음 정보를 가져오세요.

<table>
<thead>
<tr>
<th></th>
<th>name</th>
<th>start_year</th>
<th>moon</th>
</tr>
</thead>
<tbody>
<tr>
<td>8월</td>
<td>광복절</td>
<td>1949</td>
<td>False</td>
</tr>
<tr>
<td>10월</td>
<td>한글날</td>
<td>1949</td>
<td>False</td>
</tr>
</tbody>
</table>

#### (4) loc을 사용해서 다음 정보를 가져오세요.

<table>
<thead>
<tr>
<th></th>
<th>name</th>
<th>moon</th>
</tr>
</thead>
<tbody>
<tr>
<td>음력4월</td>
<td>부처님 오신 날</td>
<td>True</td>
</tr>
<tr>
<td>12월</td>
<td>기독탄신일</td>
<td>False</td>
</tr>
</tbody>
</table>

In [0]:
holidays

## 3-(2). 조건을 만족하는 행을 받아오기(Boolean indexing)
DataFrame에서 loc, iloc 등 색인(index)과 라벨을 가지고 특정 행을 가져오는 것처럼, 조건을 만족하는 행을 가져올 수 있습니다(Boolean Indexing).
먼저 아래와 같이 DataFrame의 특정 열(column)에서 지정한 조건을 만족하는(True)값이 있는지 볼 수 있습니다.

In [66]:
holidays

          name  start_year   moon
3월         삼일절        1949  False
5월        어린이날        1975  False
음력4월  부처님 오신 날        1975   True
8월         광복절        1949  False
10월        한글날        1949  False
12월      기독탄신일        1949  False

In [67]:
holidays['name'] == '한글날'

3월      False
5월      False
음력4월    False
8월      False
10월      True
12월     False
Name: name, dtype: bool

위의 조건식은 Boolean Series를 돌려주지만, 모든 열에 True/False를 표시하므로 어떤 행에서 True가 나오는지는 보기 어렵습니다. 해당 DataFrame에서 True인 부분만 가져오려면 대괄호 안에 조건을 넣어주면 됩니다.

In [68]:
holidays[holidays['name'] == '한글날']

    name  start_year   moon
10월  한글날        1949  False

전부 일치하는 경우만 가져오므로, 만족하는 행이 없으면 결과를 볼 수 없습니다.

In [69]:
holidays[holidays['name'] == '추석']

Empty DataFrame
Columns: [name, start_year, moon]
Index: []

숫자를 비교해 봅시다.

In [70]:
holidays['start_year'] < 1950

3월       True
5월      False
음력4월    False
8월       True
10월      True
12월      True
Name: start_year, dtype: bool

In [71]:
holidays[holidays['start_year'] < 1950]

      name  start_year   moon
3월     삼일절        1949  False
8월     광복절        1949  False
10월    한글날        1949  False
12월  기독탄신일        1949  False

loc/iloc을 사용해서 표현할 수도 있습니다.

In [72]:
holidays[holidays.loc[:,'start_year'] < 1950]

      name  start_year   moon
3월     삼일절        1949  False
8월     광복절        1949  False
10월    한글날        1949  False
12월  기독탄신일        1949  False

moon은 boolean으로만 이루어져서 아래와 같이 가능합니다.

In [73]:
holidays['moon']

3월      False
5월      False
음력4월     True
8월      False
10월     False
12월     False
Name: moon, dtype: bool

In [74]:
holidays[holidays['moon']]

          name  start_year  moon
음력4월  부처님 오신 날        1975  True

<p style="color:#0000FF";><font size = "5"><b>
연습하기
    </b></font></p>

#### DataFrame 'holidays'에서 찾는 연습입니다.
#### (1) Boolean indexing을 사용해서 '기독탄신일'이 있는 행만 찾아보세요. 

#### (2) 1970년 이후에 제정한 기념일만 찾아보세요.

## 3-(3). 특정 값에 따라 정렬하기

DataFrame.sort_values를 사용하여 특정 열의 값에 따라 크거나 작은 순서로 정렬할 수 있습니다.

In [75]:
help(DataFrame.sort_values)

Help on function sort_values in module pandas.core.frame:

sort_values(self, by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False)
    Sort by the values along either axis.

    Parameters
    ----------
            by : str or list of str
                Name or list of names to sort by.

                - if `axis` is 0 or `'index'` then `by` may contain index
                  levels and/or column labels.
                - if `axis` is 1 or `'columns'` then `by` may contain column
                  levels and/or index labels.

                .. versionchanged:: 0.23.0

                   Allow specifying index or column level names.
    axis : {0 or 'index', 1 or 'columns'}, default 0
         Axis to be sorted.
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort'}, default 'quicksort'
         Choice of sorting algorithm. See also ndarray.np.sort for more
         information.  `mergesort` is the only stable algorithm. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         Puts NaNs at the beginning if `first`; `last` puts NaNs at the
         end.
    ignore_index : bool, default False
         If True, the resulting axis will be labeled 0, 1, …, n - 1.

         .. versionadded:: 1.0.0

    Returns
    -------
    sorted_obj : DataFrame or None
        DataFrame with sorted values if inplace=False, None otherwise.

    Examples
    --------
    >>> df = pd.DataFrame({
    ...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    ...     'col2': [2, 1, 9, 8, 7, 4],
    ...     'col3': [0, 1, 9, 4, 2, 3],
    ... })
    >>> df
        col1 col2 col3
    0   A    2    0
    1   A    1    1
    2   B    9    9
    3   NaN  8    4
    4   D    7    2
    5   C    4    3

    Sort by col1

    >>> df.sort_values(by=['col1'])
        col1 col2 col3
    0   A    2    0
    1   A    1    1
    2   B    9    9
    5   C    4    3
    4   D    7    2
    3   NaN  8    4

    Sort by multiple columns

    >>> df.sort_values(by=['col1', 'col2'])
        col1 col2 col3
    1   A    1    1
    0   A    2    0
    2   B    9    9
    5   C    4    3
    4   D    7    2
    3   NaN  8    4

    Sort Descending

    >>> df.sort_values(by='col1', ascending=False)
        col1 col2 col3
    4   D    7    2
    5   C    4    3
    2   B    9    9
    0   A    2    0
    1   A    1    1
    3   NaN  8    4

    Putting NAs first

    >>> df.sort_values(by='col1', ascending=False, na_position='first')
        col1 col2 col3
    3   NaN  8    4
    4   D    7    2
    5   C    4    3
    2   B    9    9
    0   A    2    0
    1   A    1    1

정렬하고자 하는 DataFrame 뒤에 sort_values를 입력합니다.

매개변수 ascending의 기본값은 True이므로 오름차순으로 정렬합니다. 만약 내림차순으로 정렬하고 싶다면 False를 넣어줍니다.

In [76]:
holidays

          name  start_year   moon
3월         삼일절        1949  False
5월        어린이날        1975  False
음력4월  부처님 오신 날        1975   True
8월         광복절        1949  False
10월        한글날        1949  False
12월      기독탄신일        1949  False

In [77]:
holidays.sort_values(by = 'start_year')

          name  start_year   moon
3월         삼일절        1949  False
8월         광복절        1949  False
10월        한글날        1949  False
12월      기독탄신일        1949  False
5월        어린이날        1975  False
음력4월  부처님 오신 날        1975   True

여러 열(column)을 기준으로 하고 싶다면 리스트로 입력합니다.

In [78]:
holidays.sort_values(by = ['start_year', 'name'])

          name  start_year   moon
8월         광복절        1949  False
12월      기독탄신일        1949  False
3월         삼일절        1949  False
10월        한글날        1949  False
음력4월  부처님 오신 날        1975   True
5월        어린이날        1975  False

만약 내림차순으로 정렬하고 싶다면 ascending에 False를 넣어줍니다.

In [79]:
holidays.sort_values(by = ['start_year', 'name'], ascending = False)

          name  start_year   moon
5월        어린이날        1975  False
음력4월  부처님 오신 날        1975   True
10월        한글날        1949  False
3월         삼일절        1949  False
12월      기독탄신일        1949  False
8월         광복절        1949  False

하지만 아래에서 holidays 변수를 다시 살펴보면 정렬하지 않은 그대로임을 확인할 수 있습니다. 이는 sort_values의 결과는 새로운 DataFrame을 돌려주고 원래 DataFrame은 바꾸지 않기 때문입니다. 

이는 기본적으로 False로 되어 있는 inplace를 True로 바꾸어 주어 현재의 DataFrame에 저장하도록 설정할 수 있습니다. 다만 기존 변수에 덮어씌워도 문제가 없는지 충분히 고려해 보아야 합니다.

In [80]:
holidays

          name  start_year   moon
3월         삼일절        1949  False
5월        어린이날        1975  False
음력4월  부처님 오신 날        1975   True
8월         광복절        1949  False
10월        한글날        1949  False
12월      기독탄신일        1949  False

In [81]:
#(1) 새로운 DataFrame에 저장
new = holidays.sort_values(by = ['start_year', 'name'], ascending = False)
new

          name  start_year   moon
5월        어린이날        1975  False
음력4월  부처님 오신 날        1975   True
10월        한글날        1949  False
3월         삼일절        1949  False
12월      기독탄신일        1949  False
8월         광복절        1949  False

In [82]:
#(2) 원래의 DataFrame에 덮어씌우기
holidays.sort_values(by = 'start_year', inplace = True)
holidays

          name  start_year   moon
3월         삼일절        1949  False
8월         광복절        1949  False
10월        한글날        1949  False
12월      기독탄신일        1949  False
5월        어린이날        1975  False
음력4월  부처님 오신 날        1975   True

<p style="color:#0000FF";><font size = "5"><b>
연습하기
    </b></font></p>
    
#### DataFrame 'data'에서 다음 작업을 수행하세요.
#### (1) 모든 column의 이름을 확인하세요.
#### (2) Column 'hid'가 205200인 사람을 모두 확인하세요.
#### (3) Column 'age'를 기준으로 나이가 많은 사람이 먼저 오게 정렬해 보세요.

In [83]:
url = "https://raw.githubusercontent.com/eunyu1031/Media_interface_2020Spr/master/data/p19_mediapanel.csv"

data = pd.read_csv(url)
data

,pid,hid,area,area_siz,hhld_siz,fly_typ,gender,byear,age_gr,age,...,news_med1,news_med2,news_med3,news_plat1,news_plat2,news_plat3,channel,shop,shop_dev,shop_pay
0,10001,100,1,1,3,3,1,1967,6,52,...,3,4,,3,2,,1,1,1,2
1,10002,100,1,1,3,3,2,1972,5,47,...,3,4,,3,2,,3,1,1,2
2,20001,200,1,1,3,3,1,1965,6,54,...,4,,,3,,,7,,,
3,30001,300,8,1,3,3,1,1971,5,48,...,3,,,3,,,1,,,
4,30002,300,8,1,3,3,2,1974,5,45,...,,,,,,,1,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10859,118290002,1182900,16,1,3,3,1,1983,4,36,...,,,,,,,1,,,
10860,118300001,1183000,16,1,2,3,1,1995,3,24,...,,,,,,,3,1,1,1
10861,118310001,1183100,16,1,1,1,2,1939,8,80,...,,,,,,,6,,,
10862,118320001,1183200,16,1,1,1,2,1940,8,79,...,,,,,,,7,,,
10863,118330001,1183300,16,1,2,3,2,1947,8,72,...,,,,,,,7,,,

## 참고
f-string과 실수의 포매팅(formatting) (python 3.6 이상)

공식: https://docs.python.org/ko/3/reference/lexical_analysis.html#f-strings

In [84]:
corn_data = {'강원도':[42769, 28946, 29267, 32449, 29176],
            '강원도비율%':[57, 45, 39.8, 43.7, 37.3]}

corn = DataFrame(corn_data, index = [1995, 2000, 2005, 2010, 2015])
corn['전국'] = corn['강원도']/corn['강원도비율%']*100

corn

        강원도  강원도비율%            전국
1995  42769    57.0  75033.333333
2000  28946    45.0  64324.444444
2005  29267    39.8  73535.175879
2010  32449    43.7  74254.004577
2015  29176    37.3  78219.839142

'전국'의 실수 표기를 어떻게 바꿀 수 있을까요? (1) 일부만 표시하거나, (2) 반올림해서 저장할 수 있습니다.

In [85]:
name = "홍길동"
num = 17

print("제 이름은", name, "이고,", num, "학번입니다.")

제 이름은 홍길동 이고, 17 학번입니다.

In [86]:
print(f"제 이름은 {name}이고 {num}학번입니다.") # f-string

제 이름은 홍길동이고 17학번입니다.

f-string에서 실수의 표시는 다음과 같습니다.

In [87]:
from math import pi

print(pi)
print(f"원주율의 값은 {pi:0.4f}입니다.")

3.141592653589793
원주율의 값은 3.1416입니다.

pandas도 실수 표기 옵션을 제공하므로, 이를 활용할 수 있습니다. 다만 모든 실수 column에 적용됩니다.

In [88]:
pd.options.display.float_format = '{0:0.2f}'.format

In [89]:
corn

        강원도  강원도비율%       전국
1995  42769   57.00 75033.33
2000  28946   45.00 64324.44
2005  29267   39.80 73535.18
2010  32449   43.70 74254.00
2015  29176   37.30 78219.84

In [90]:
corn.iloc[0, 2] # 실수 표기만 바뀌었고 값은 바뀌지 않음

75033.33333333334

round를 사용하면 반올림한 값으로 저장할 수 있습니다.

In [91]:
corn['전국'].round(1)

1995   75033.30
2000   64324.40
2005   73535.20
2010   74254.00
2015   78219.80
Name: 전국, dtype: float64