<p style="color:#0000FF";><b>
* 자료는 보통 순서대로 실행한다는 가정 하에 만듭니다. 제대로 실행이 되지 않는다면 이전의 셀을 실행했는지 다시 확인해 보세요. <br>
* ctrl+enter는 선택한 셀의 코드를 실행하고, shift+enter는 해당 셀 실행 후 다음 셀로 넘어갑니다.
    </b></p>

#### 1. 변수


#### 2. 자료형
- (1) 숫자 (number)
- (2) 논리 (boolean/bool)
- (3) 문자열 (string)
- (4) 리스트 (list)
- (5) 튜플 (tuple)
- (6) 딕셔너리 (dictionary)


#### 3. Pandas
- (1) Series
- (2) DataFrame

# 1. 변수(variale)
- 어떤 값(value)을 저장하기 위해 이름(name)을 붙인 공간
- 어떤 값을 저장하느냐에 따라 자료형(type)과 가능한 연산들이 달라진다 (dynamic typing).
- 할당 연산자(assignment operator) 등호(=)로 ‘이름 = 값’ 처럼 변수를 만들 수 있다.
- 만든 변수는 메모리에 저장되며, 프로그램 종료 전까지 가져오거나 변경할 수 있다.
- 변수의 이름은 (1) 이해하기 편한 것이 좋다 (2) 대소문자를 구분한다 (3) 숫자로 시작할 수 없다 (4) 띄어쓰기와 특수문자를 포함할 수 없으며 밑줄문자(_)는 사용 가능하다 (5) 파이썬에서 이미 사용하는 예약어는 사용할 수 없다.

아래와 같이 이름 = 값 형태로 변수를 만들/정의할/선언할 수 있습니다.

In [1]:
mynum = 3

In [2]:
MyStr = '변수의 이름은 대소문자를 구별한다'
print(mystr) # error! 대소문자 구별

NameError: name 'mystr' is not defined

In [3]:
print("MyStr", MyStr)

MyStr 변수의 이름은 대소문자를 구별한다

In [4]:
1st_var = "my var" #error! 숫자로 시작할 수 없으며, 글자 색깔에 유의

SyntaxError: invalid syntax (<ipython-input-4-2f96135b5b66>, line 1)

In [5]:
var_1 = "my 1st var"

파이썬에서 이미 사용하는 예약어는 다른 색으로 표시되므로 글자 색깔만 잘 보셔도 변수 이름을 만드는 데에는 어려움이 없습니다.

In [6]:
True = 3 # error! 예약어를 사용할 수 없으며, 글자 색깔에 유의

SyntaxError: cannot assign to True (<ipython-input-6-fd7f4589dba4>, line 1)

__다음 두 셀은 (2)-(1)-(2) 순으로 실행합니다.__

아래의 경우 변수를 만들 때에는 error는 나지 않으나, 파이썬에서 제공하는 pow라는 기능을 사용할 수 없게 됩니다. 이런 경우에는 프로그램을 껐다가 다시 실행하시면 됩니다 (런타임 다시 시작/Kernel Restart).

In [8]:
# (1)
pow = 4 # potention error

In [9]:
# (2)
pow(3,2)

TypeError: 'int' object is not callable

# 2. 자료형 (type)

- 데이터는 변수에 저장되며, 자료형이 무엇인가에 따라 __가질 수 있는 값__과 __적용할 수 있는 연산__이 다름 (예: 1과 '1')
- 프로그래밍 언어가 제공하는 데이터 유형의 종류와 특징을 알고 있어야 필요할 때 해당 데이터를 활용할 수 있음
- 파이썬에서 기본으로 제공하는 숫자, 논리, 문자열, 그리고 다양한 자료형을 저장할 수 있는 리스트, 튜플, 딕셔너리 소개

## 2-(1) 숫자 (number)

- 크게 정수(integer), 실수(floating point number;float), 복소수(complex)로 구성
- 계산기처럼 가감승제(+, -, *, /) 연산자를 사용해서 연산이 가능하며, 그 외의 연산자(%, //)도 지원
- 변수를 새로 정의하지 않는 이상 변경할 수 없음 (immutable)

type(변수이름)으로 자료형을 확인할 수 있습니다. 같은 숫자인데 여러 자료형을 두는 이유는 저장 공간을 효율적으로 활용하기 위해서입니다.

In [10]:
a = -123
b = 0.45678
c = 1 + 2j
d = 1,234,500

print(type(a), a)
print(type(b), b)
print(type(c), c)
print(type(d), d) # 숫자가 아님

<class 'int'> -123
<class 'float'> 0.45678
<class 'complex'> (1+2j)
<class 'tuple'> (1, 234, 500)

숫자로는 아래와 같은 연산을 비롯한 다양한 연산이 가능합니다. '__//__'와 '__%__'의 사용에 유의합니다.

<table class="docutils align-default">
<colgroup>
<col style="width: 25%" />
<col style="width: 40%" />
<col style="width: 11%" />
<col style="width: 24%" />
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>연산</p></th>
<th class="head"><p>결과</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">+</span> <span class="pre">y</span></code></p></td>
<td><p>x와 y의 합</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">-</span> <span class="pre">y</span></code></p></td>
<td><p>x와 y의 차</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">*</span> <span class="pre">y</span></code></p></td>
<td><p>x와 y의 곱</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">/</span> <span class="pre">y</span></code></p></td>
<td><p>x 나누기 y</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">//</span> <span class="pre">y</span></code></p></td>
<td><p>x 나누기 y의 정수부분</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">%</span> <span class="pre">y</span></code></p></td>
<td><p>x 나누기 y의 나머지 </td>
</tr>
</table>

Python documentation: https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex

In [11]:
6+4

10

In [12]:
6-4

2

In [13]:
6*4

24

In [14]:
6/4

1.5

In [15]:
6//4

1

In [16]:
31//3

10

In [17]:
6%4

2

In [18]:
100%10

0

숫자는 할당 연산자(=)를 활용해서 값을 새로 할당하지 않는 이상 값을 바꿀 수 없습니다.

In [19]:
a = 4
b = a + 2 # a를 새로 정의하지 않았기 때문에 바뀌지 않고 새로운 변수 b에 저장

print(a, b)

a = a + 2

print(a, b)

4 6
6 6

## 2-(2) 논리 (boolean/bool)

- 참(True)과 거짓(False)을 나타내는 자료형
- True/False 두 값만 가지고 있음 (대소문자 주의)
- 변수를 새로 정의하지 않는 이상 변경할 수 없음 (immutable)

type()으로 자료형을 확인합니다.

In [20]:
type(True)

bool

비교연산자를 활용해서 변수의 값을 비교한 결과를 논리 자료형으로 확인할 수 있습니다. 동일한지를 비교하는 연산자(==)는 등호 두 번이고, 동일하지 않음을 비교하는 연산자는(!=) 등호 앞에 느낌표가 붙습니다.

<table>
<thead>
<tr>
<th align="center">비교연산자</th>
<th align="center">설명</th>
<th align="center">예</th>
</tr>
</thead>
<tbody>
<tr>
<td align="center">==</td>
<td align="center">값이 동일하다</td>
<td align="center">(a == b) → False</td>
</tr>
<tr>
<td align="center">!=</td>
<td align="center">값이 동일하지 않다</td>
<td align="center">(a != b) → True</td>
</tr>
<tr>
<td align="center">&gt;</td>
<td align="center">왼쪽 값이 오른쪽 값보다 크다</td>
<td align="center">(a &gt; b) → False</td>
</tr>
<tr>
<td align="center">&lt;</td>
<td align="center">왼쪽 값이 오른쪽 값보다 작다</td>
<td align="center">(a &lt; b) → True</td>
</tr>
<tr>
<td align="center">&gt;=</td>
<td align="center">왼쪽 값이 오른쪽 값보다 크거나 동일하다</td>
<td align="center">(a &gt;= b) → False</td>
</tr>
<tr>
<td align="center">&lt;=</td>
<td align="center">왼쪽 값이 오른쪽 값보다 작거나 동일하다</td>
<td align="center">(a &lt;= b) → True</td>
</tr>
</tbody>
</table>

In [21]:
"mystr" == "Mystr" #대소문자 구분

False

In [22]:
32 != "32" # 숫자와 문자열은 다른 자료형

True

In [23]:
10 >= 5.5

True

보통 True/False 결과를 가지고 조건에 따라 작업해야 할 때 사용합니다.

## 2-(3) 문자열 (string) 
- 작은따옴표('')와 큰따옴표("")로 정의
- 순서가 있는 시퀀스(sequence)이므로 인덱싱(indexing)과 슬라이싱(slicing) 가능
- 변수를 새로 정의하지 않는 이상 변경할 수 없음 (immutable)

아래와 같은 방식으로 정의할 수 있습니다.

In [24]:
greeting = "Hello world"
str2 = '"Python is easy", he said'
str3 = '''Three 
single 
quotes'''
str4 = """Three 
double 
quotes"""

type(str4)

str

앞뒤로 잘 닫아주지 않으면 아래와 같은 에러가 발생합니다.

In [25]:
# error!
str1 = "Please close"

In [26]:
# error!
str1 = "Please close"

문자열은 순서가 있으며(sequence), 왼쪽에서 오른쪽 순으로 __0부터__ 부여된 순서를 인덱스(index)라고 합니다. 만약 저장된 인덱스를 넘어가서 값을 불러오려고 하면 에러가 발생합니다.

In [27]:
mystr = "PYTHON"

문자열 변수 mystr의 인덱스는 아래와 같습니다.
<img src='https://github.com/eunyu1031/Media_interface_2020Spr/blob/master/pics/index.png?raw=true'/>

In [28]:
print(mystr[0], mystr[2], mystr[4], mystr[5])

P T O N

In [29]:
print(mystr[6]) # error! mystr은 인덱스를 5까지만 가지고 있음

IndexError: string index out of range

In [30]:
print(mystr[-1]) # 음수를 사용해서 뒤에서부터 불러오기

N

슬라이싱(slicing)은 시퀀스(sequence)로부터 연속적인 부분을 가져올 수 있습니다.

In [31]:
print(mystr[1:2])

Y

In [32]:
print(mystr[1:3])

YT

__변수이름[시작:끝]__으로 정의하며, __끝 인덱스의 값은 표시되지 않__습니다. 만약 '시작' 이나 '끝' 중 하나를 비운다면 맨 처음부터 시작 또는 맨 끝까지 표시한다는 뜻입니다.

In [33]:
fruit = "apple banana cherry"

In [34]:
fruit[0:5] # 인덱스 0 이상 5 미만: 0, 1, 2, 3, 4인 apple 출력

'apple'

In [35]:
fruit[:5] # 시작을 비운 경우: 처음부터 5미만

'apple'

In [36]:
fruit[6:12]

'banana'

In [37]:
fruit[13:] # 끝을 비운 경우: 13부터 끝까지

'cherry'

문자열의 길이를 알면 없는 인덱스를 부르는 IndexError를 방지할 수 있습니다. len(변수)를 활용합니다.

In [38]:
print(len("Hello"), len(fruit))

5 19

문자열의 +, * 연산은 숫자와 다릅니다.

In [39]:
print('3'+'4', 3 + 4)
print('Z'* 4)

34 7
ZZZZ

<p style="color:#0000FF";><font size = "5"><b>
연습하기
    </b></font></p>
    
#### (1) 1 킬로미터(km)는 약 0.62 마일(mile)입니다. 
- 60킬로미터는 몇 마일인지 계산하고 이름이 'result'인 숫자 변수에 결과를 저장하세요. 
- print()를 사용해 'result'변수의 값을 출력하세요.

#### (2) "저는 홍길동이고, 17학번입니다."처럼 본인의 자기소개 문장을 출력하세요. 
- 문자열 변수 name, 숫자 변수 num을 만드세요. 

#### (3) 문자열 변수 'veg'에서 인덱싱과 슬라이싱을 활용하세요.
- (a) 대문자 C, G, P만 골라서 출력하세요.
- (b) 'Garlic'만 print를 활용해 출력해 보세요.

#### (4) '12345를 67로 나누고 남은 나머지는 15보다 작거나 같다' 
- 이 문장이 참인지 거짓인지 확인하세요.

In [0]:
# (1) km to mile

In [0]:
# (2) 자기소개: 문자열 변수 name, 숫자 변수 num 만들기



print("제 이름은", name, "이고,", num, "학번입니다.")

In [0]:
# (3) indexing/slicing
veg = "Carrot, Garlic, and Potato"

# (3)-a. 'veg'에서 인덱싱을 이용해 대문자만 출력



# (3)-b. 'veg'에서 슬라이싱을 이용해 'Garlic'만 출력

In [0]:
# (4) 참과 거짓, 숫자의 연산

## 2-(4) 리스트 (list) 
- 대괄호[]로 정의
- 여러 값을 저장할 수 있는 1차원 배열 자료형으로, 숫자, 문자열, 같은 리스트도 리스트 안의 아이템으로 저장 가능
- 순서가 있는 시퀀스(sequence)이므로 인덱싱(indexing)과 슬라이싱(slicing) 가능
- 변수를 새로 정의하지 않아도 수정/삭제/추가 가능 (mutable)

리스트는 대괄호[ ]를 사용해서 정의합니다. 여러 아이템을 넣을 때에는 쉼표(,)로 구분합니다.

In [40]:
empty_list = []
print(type(empty_list), empty_list)

<class 'list'> []

다양한 리스트를 살펴봅시다.

In [41]:
list1 = [1, 2, 3]

list2 = ['Life','is','too','short','to','die']

list3 = [1, 2, 'Life','is'] # 서로 다른 자료형을 저장

list4 = [1, 2, ['Life','is']] # 리스트 안의 아이템으로 리스트를 저장

print(list1)
print(list2)
print(list3)
print(list4)

[1, 2, 3]
['Life', 'is', 'too', 'short', 'to', 'die']
[1, 2, 'Life', 'is']
[1, 2, ['Life', 'is']]

앞뒤로 괄호를 잘 닫지 않거나, 아이템 간에 쉼표(,)로 잘 구분하지 않으면 에러가 발생합니다.

In [42]:
# error!
temp = [1, 2, 3

SyntaxError: unexpected EOF while parsing (<ipython-input-42-26516403c366>, line 2)

In [43]:
# error!
temp = [1, 2 3]

SyntaxError: invalid syntax (<ipython-input-43-5b2d753d6f8e>, line 2)

리스트 역시 문자열처럼 시퀀스(sequence)이므로 왼쪽에서 오른쪽 방향으로 순서가 있으며, __0부터__ 시작하는 인덱스를 사용해서 아이템(들)을 가져올 수 있습니다.

In [44]:
mylist = [10, 9, 8, 7, ['Life','is']]

In [45]:
print(mylist[0], mylist[3], mylist[-1])

10 7 ['Life', 'is']

리스트 변수 mylist안의 ['Life','is']는 하나의 아이템으로 취급하여 길이는 5입니다.

In [46]:
print(len(mylist), mylist[:2])

5 [10, 9]

리스트 안의 리스트 값을 가져오고 싶다면 인덱스를 겹쳐서 사용하면 됩니다.

In [47]:
print(mylist[4], mylist[4][0], mylist[4][0][0])

['Life', 'is'] Life L

리스트는 문자열과 달리 변수를 새로 정의하지 않아도 리스트의 값을 수정할 수 있습니다.

In [48]:
urlist = [11, 14, 17, 19]
print(urlist)

urlist[1] = 13 # 변수 자체를 새로 정의하지 않고 일부만 수정
print(urlist)

[11, 14, 17, 19]
[11, 13, 17, 19]

In [49]:
test = "test str"
test[0] = 'T'  # error!

TypeError: 'str' object does not support item assignment

## 2-(5) 튜플 (tuple) 
- 소괄호()로 정의
- 여러 값을 저장할 수 있는 자료형으로, 숫자, 문자열, 리스트, 튜플 등 여러 자료형을 아이템으로 저장 가능
- 순서가 있는 시퀀스(sequence)이므로 인덱싱(indexing)과 슬라이싱(slicing) 가능
- 리스트와 가장 큰 차이: 변수를 새로 정의하지 않는 이상 변경할 수 없음 (immutable)

In [50]:
t1 = ()
t2 = (1,) # 1개만 있을 때도 뒤에 콤마를 붙여야 tuple
t3 = (1,2,3)
t4 = 1,2,3 # 괄호를 쓰지 않으면 튜플이 됩니다.
t5 = ('a','b',('c','d'), ['e', 'f'],99)

print(type(t1), type(t2), type(t3))
print(t4)
print(t5)
print(t5[0]) # 인덱스로 불러오기
print(t5[:2]) # 슬라이싱

<class 'tuple'> <class 'tuple'> <class 'tuple'>
(1, 2, 3)
('a', 'b', ('c', 'd'), ['e', 'f'], 99)
a
('a', 'b')

In [51]:
t5[0] = 'z' # error! 새로 정의하지 않으면 변경할 수 없음

TypeError: 'tuple' object does not support item assignment

## 2-(6) 딕셔너리 (dictionary) 
- 중괄호{}로 정의
- 여러 값을 저장할 수 있는 자료형으로, key:value가 한 쌍으로 하나의 항목을 이룸(mapping)
- 변수를 새로 정의하지 않아도 수정/삭제/추가 가능 (mutable)

딕셔너리는 {key1:value1, key2:value2, key3:value3, ...} 형식으로 구성됩니다.

In [52]:
dic1 = {}
dic2 = {1: "red", 2:"orange", 3:"yellow"}
dic3 = {'name':'Hong','birth':'2000', 101:'hello world','num':[1,2,3,4,5]}

print(dic1)
print(dic2)
print(dic3)

{}
{1: 'red', 2: 'orange', 3: 'yellow'}
{'name': 'Hong', 'birth': '2000', 101: 'hello world', 'num': [1, 2, 3, 4, 5]}

몇 개의 아이템이 있는지 len(변수이름)으로 확인할 수 있습니다.

In [53]:
print(len(dic1), len(dic2), len(dic3))

0 3 4

딕셔너리는 key에 따라 value를 불러온다는 점에 유의합니다.

In [54]:
dic4 = {'name':'Hong', 101:'hello world','num':[1,2,3,4,5]}

In [56]:
print(dic4[0]) # error!

KeyError: 0

In [57]:
print(dic4['name']) # mapping이므로 key로 value를 부름

Hong

In [58]:
print(dic4[101]) # 101번째가 아니라, mapping이므로 key 101로 value를 부름

hello world

key를 가지고 value를 수정하거나 추가할 수 있습니다.

In [59]:
dic4['name'] = "홍길동" # 이미 있는 key인 경우 수정
print(dic4)

{'name': '홍길동', 101: 'hello world', 'num': [1, 2, 3, 4, 5]}

In [60]:
dic4['school'] = "중앙대학교" # 없는 key인 경우 추가
print(dic4)

{'name': '홍길동', 101: 'hello world', 'num': [1, 2, 3, 4, 5], 'school': '중앙대학교'}

<p style="color:#0000FF";><font size = "5"><b>
연습하기
    </b></font></p>
    
#### (1) 주어진 리스트 변수 'numlist' 에서 다음과 같은 정보를 출력하세요.
- 'numlist'의 길이를 출력하세요.
- 인덱싱으로 아이템 'three'만 골라내어 출력하세요.

#### (2) 다음과 같은 튜플을 만드세요.
- 1부터 10까지의 정수를 저장하는 튜플 변수를 만드세요.
- 맨 뒤의 5개 아이템만 슬라이싱으로 출력하세요.

#### (3) 딕셔너리 변수 'myfruit'에 다음과 같은 아이템을 추가하세요.
- 문자열 'B'를 key로 하는 문자열 value 'Blueberry'
- 문자열 'M'를 key로 하는 문자열 value 'Mango'
- 문자열 'money'를 key로 하는 숫자 value 50000
- 모두 추가한 후 'myfruit'를 출력하세요.

#### (4) 다음과 같은 key:value를 가지는 딕셔너리 변수 'stat'을 만드세요.
- 문자열 'state'를 key로 하는 리스트 value ['Ohio', 'Nevada', 'Texas']
- 문자열 'pop'을 key로 하는 리스트 value [3.7, 8.1, 5.8]
- 딕셔너리 변수 'stat'에서 'Nevada'와 '8.1'만 출력하세요.

In [0]:
# (1) 리스트
numlist = ['one','two','three','four','five','six']

#출력

In [0]:
# (2) 튜플 만들기


#출력

In [0]:
# (3) 딕셔너리
myfruit = {'K':'Kiwi'}

# 아이템 추가




# 출력

In [0]:
# (4) 딕셔너리와 리스트 (변수 만들기)


#출력

# 3. Pandas

파이썬에서 데이터를 다루기 위해 필요한 라이브러리로, 구조화된 데이터를 빠르고 쉽게 다양한 형식으로 가공할 수 있는 자료형과 함수를 제공합니다. Pandas에 대해 알아보려면 __(1)Series__와 __(2)DataFrame__, 두 가지 자료형에 익숙해질 필요가 있습니다.

jupyter notebook/google colab에 pandas가 기본으로 설치되어 있겠지만, 최신 버전으로 업그레이드합니다.

pandas documentation: https://pandas.pydata.org/docs/

In [1]:
!pip install --upgrade pandas
#!pip install pandas # pandas가 설치되지 않은 경우 주석을 지우고 이 코드를 이용

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/bb/71/8f53bdbcbc67c912b888b40def255767e475402e9df64050019149b1a943/pandas-1.0.3-cp36-cp36m-manylinux1_x86_64.whl (10.0MB)
     |████████████████████████████████| 10.0MB 3.4MB/s
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.2)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
ERROR: google-colab 1.0.0 has requirement pandas~=0.25.0; python_version >= "3.0", but you'll have pandas 1.0.3 which is incompatible.
Installing collected packages: pandas
  Found existing installation: pandas 0.25.3
    Uninstalling pandas-0.25.3:
      Successfully uninstalled pandas-0.25.3
Successfully installed pandas-1.0.3

In [63]:
from pandas import Series, DataFrame # from? import? as? 다음 시간에 설명
import pandas as pd

pd.__version__ # 버전 확인

'1.0.5'

## 3-(1). Series

- Series는 1차원 배열 자료형으로, 색인(index)를 가지고 있습니다. 
- 따로 지정하지 않으면 리스트처럼 0부터 정수로 색인을 표시합니다.
- 인덱스에 라벨을 따로 붙이면 라벨로 해당 값에 접근할 수 있습니다.
- 리스트, 딕셔너리 등 다양한 자료형을 사용해서 만들 수 있습니다.

<img src='https://github.com/eunyu1031/Media_interface_2020Spr/blob/master/pics/series.png?raw=true'/>

In [64]:
obj1 = Series([1, 5, -8, 5]) 

obj1

0    1
1    5
2   -8
3    5
dtype: int64

In [65]:
type(obj1)

pandas.core.series.Series

Series를 만들 때 리스트로 값을 넣어주고 index로 색인에 라벨 값을 따로 붙여 주거나, 딕셔너리(dictionary)로 한번에 Series를 생성할 수 있습니다.

In [66]:
obj2 = Series([9, 10, 3.14, 2.717], index = ['d','b','c','a']) 
obj2

d     9.000
b    10.000
c     3.140
a     2.717
dtype: float64

In [67]:
obj3 = Series({'A':'apple','B':'banana','C':'cherry'}) 
obj3

A     apple
B    banana
C    cherry
dtype: object

각 Series에 어떤 자료형의 값이 저장되어 있는지는 dtype:에서 확인할 수 있습니다. obj1에는 정수(integer)가 obj2는 실수(float)가 저장되어 있습니다. obj3에는 문자열이 저장되어 있는데, pandas에서는 이를 object로 표현합니다.

Series에 저장한 값은 색인 또는 색인의 라벨 값으로 접근해서 읽거나 값을 바꿀 수 있습니다. obj3의 예를 봅시다.

|index|value|
| :------------ | -------------------: |
|A|apple|
|B|banana|
|C|cherry|

In [68]:
obj3['A']

'apple'

In [69]:
obj3[2]

'cherry'

In [70]:
obj3['B'] = 'blueberry'
obj3

A        apple
B    blueberry
C       cherry
dtype: object

## 3-(2). DataFrame

- DataFrame은 표 같은 스프레드시트 형식의 자료형입니다.

<img src='https://github.com/eunyu1031/Media_interface_2020Spr/blob/master/pics/matrix.png?raw=true'/>
- 여러 개의 열(column)로 이루어져 있으며, 각 열은 서로 다른 종류의 값(문자열, 숫자 등)을 담을 수 있습니다. 색인이 같은 Series를 여럿 담고 있다고 생각하시면 편합니다.
- Series, 딕셔너리, 리스트를 비롯한 여러 자료형을 통해 만들 수 있습니다.

<img src='https://github.com/eunyu1031/Media_interface_2020Spr/blob/master/pics/dataframe.png?raw=true'/>

빈 DataFrame은 아래처럼 만들면 됩니다.

In [71]:
empty_frame = DataFrame()
print(type(empty_frame))
print(empty_frame)

<class 'pandas.core.frame.DataFrame'>
Empty DataFrame
Columns: []
Index: []

2개의 Series로 하나의 DataFrame을 만들어 봅시다.

In [72]:
# DataFrame 만들기: Series

s1 = Series([2, 4, 6, 8])
s2 = Series([5, 10, 15, 20])

myf = DataFrame({'c1':s1, 'c2':s2})

print(myf)

   c1  c2
0   2   5
1   4  10
2   6  15
3   8  20

딕셔너리로 DataFrame을 만들면 key는 열(column)의 이름이 됩니다.

In [73]:
# DataFrame 만들기: 딕셔너리

data = {'state':['Ohio', 'Ohio', 'Ohio', 'Nevada','Nevada'],
        'year':[2000, 2001, 2002, 2001, 2002],
        'pop':[1.5, 1.7, 3.6, 2.4, 2.9]    
        }

frame1 = DataFrame(data)
frame1

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

DataFrame에도 라벨을 붙일 수 있습니다. 위 셀에서 frame1을 만들 때 사용한 딕셔너리 변수 'data'를 다시 활용합니다.

In [74]:
frame2 = DataFrame(data, index = ['one','two','three','four','five'])
frame2

        state  year  pop
one      Ohio  2000  1.5
two      Ohio  2001  1.7
three    Ohio  2002  3.6
four   Nevada  2001  2.4
five   Nevada  2002  2.9

DataFrame의 index는 다음과 같이 DataFrame 변수 이름에 __.index__를 붙여 확인할 수 있습니다.

In [75]:
frame2.index

Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

라벨을 따로 지정하지 않은 경우 index는 0에서 시작해서 1씩 증가하는 정수가 됩니다.

In [76]:
frame1.index

RangeIndex(start=0, stop=5, step=1)

DataFrame의 열(column)은 다음과 같이 DataFrame 변수 이름에 __.columns__를 붙여 확인할 수 있습니다.

In [77]:
frame2.columns

Index(['state', 'year', 'pop'], dtype='object')

특정 열(column)만 확인하고 싶을 때에는 두 가지 방법이 있습니다.

In [78]:
frame2['state']

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object

In [79]:
frame2.year

one      2000
two      2001
three    2002
four     2001
five     2002
Name: year, dtype: int64

없는 열을 부를 경우 에러가 납니다.

In [80]:
frame2['bob'] # error! 없는 column

KeyError: 'bob'

<p style="color:#0000FF";><font size = "5"><b>
 # 연습하기
    </b></font></p>
    
#### 다음과 같은 내용의 DataFrame 변수 'holidays'를 만들어 보세요.

세 열 name, start_year, moon은 각각 문자열, 숫자, 논리 자료형으로 구성되어 있습니다.
<table>
<thead>
<tr>
<th></th>
<th>name</th>
<th>start_year</th>
<th>moon</th>
</tr>
</thead>
<tbody>
<tr>
<td>0</td>
<td>삼일절</td>
<td>1949</td>
<td>False</td>
</tr>
<tr>
<td>1</td>
<td>어린이날</td>
<td>1975</td>
<td>False</td>
</tr>
<tr>
<td>2</td>
<td>부처님 오신 날</td>
<td>1975</td>
<td>True</td>
</tr>
<tr>
<td>3</td>
<td>광복절</td>
<td>1949</td>
<td>False</td>
</tr>
<tr>
<td>4</td>
<td>한글날</td>
<td>1949</td>
<td>False</td>
</tr>
<tr>
<td>5</td>
<td>기독탄신일</td>
<td>1949</td>
<td>False</td>
</tr>
</tbody>
</table>

- 색인(index)을 출력하세요.
- 모든 열(column)의 이름을 출력하세요.
- 열 'moon'만 출력하세요.

DataFrame에 저장된 값의 일부를 읽어올뿐만 아니라 수정/작성할 수도 있습니다.

다음 셀의 DataFrame 'potato'는 감자의 전국 생산량(톤)과 강원도 생산량(톤)의 정보를 가지고 있습니다.

https://www.provin.gangwon.kr/gw/portal/sub07_05_04_01_05

In [81]:
potato_data = {'Korea':[622202, 607534, 682149, 590532, 537738],
        'Gangwon':[147525, 179506, 182027, 159607, 177023]    
        }

potato = DataFrame(potato_data)
potato

    Korea  Gangwon
0  622202   147525
1  607534   179506
2  682149   182027
3  590532   159607
4  537738   177023

2011년부터 2015년까지의 생산량이므로 potato.index에 연도를 넣습니다.

In [82]:
print(potato.index)

potato.index = [2011, 2012, 2013, 2014, 2015]
potato

RangeIndex(start=0, stop=5, step=1)

       Korea  Gangwon
2011  622202   147525
2012  607534   179506
2013  682149   182027
2014  590532   159607
2015  537738   177023

열(column)의 이름을 한국어로 수정해 봅시다.

In [83]:
print(potato.columns)

potato.columns = ['전국', '강원도']
potato

Index(['Korea', 'Gangwon'], dtype='object')

          전국     강원도
2011  622202  147525
2012  607534  179506
2013  682149  182027
2014  590532  159607
2015  537738  177023

딕셔너리 자료형을 다룰 때처럼, DataFrame에서도 새로운 열의 이름을 만들어 다른 값을 넣어줄 수 있습니다. 숫자 자료형인 열끼리 계산할 수 있으므로 강원도 외 지역에서 생산한 감자의 생산량을 계산해 봅시다.

In [84]:
potato['강원도외'] = potato['전국'] - potato['강원도']
potato

          전국     강원도    강원도외
2011  622202  147525  474677
2012  607534  179506  428028
2013  682149  182027  500122
2014  590532  159607  430925
2015  537738  177023  360715

전국 감자 생산량 대비 강원도 감자 생산량을 계산해 봅시다.

In [85]:
potato['강원도비율'] = potato['강원도']/potato['전국']
potato

          전국     강원도    강원도외     강원도비율
2011  622202  147525  474677  0.237101
2012  607534  179506  428028  0.295467
2013  682149  182027  500122  0.266843
2014  590532  159607  430925  0.270277
2015  537738  177023  360715  0.329199

비율에 숫자 100을 곱해 %로 나타내 봅시다. 열이 아닌 숫자 연산의 경우 열 전체에 같은 연산을 적용합니다.

In [86]:
potato['강원도비율%'] = potato['강원도비율']*100
potato

          전국     강원도    강원도외     강원도비율     강원도비율%
2011  622202  147525  474677  0.237101  23.710146
2012  607534  179506  428028  0.295467  29.546659
2013  682149  182027  500122  0.266843  26.684346
2014  590532  159607  430925  0.270277  27.027663
2015  537738  177023  360715  0.329199  32.919935

<p style="color:#0000FF";><font size = "5"><b>
연습하기
    </b></font></p>
    
#### 아래의 DataFrame 변수 'corn'에서 다음 데이터를 추가하세요.

'Gangwon'은 강원도의 옥수수 생산량(톤), 그리고 'Ganwon%'는 전국 옥수수 생산량 대비 강원도의 옥수수 생산량 비율(%)입니다.

- 해당 데이터는 1995년부터 2015년까지 5년 단위입니다. 이를 index에 표시하세요.
- 열(column)의 이름을 각각 '강원도', '강원도비율%'로 바꾸세요.
- 강원도의 옥수수 생산량(톤)과 전국 옥수수 생산량 대비 강원도의 옥수수 생산량 비율(%)를 활용해서 전국 옥수수 생산량(톤)을 계산하고 'corn'의 다른 열로 추가하세요.

In [0]:
corn_data = {'Gangwon':[42769, 28946, 29267, 32449, 29176],
            'Gangwon%':[57, 45, 39.8, 43.7, 37.3]}

corn = DataFrame(corn_data)
corn