### 주피터 노트북/Google Colab 소개
코드 또는 설명을 작성할 수 있는 칸을 셀(cell)이라고 합니다.

주피터 노트북은 code, Markdown, Raw NBConvert를 제공하며 상단에서 확인할 수 있습니다.

Colab은 코드와 텍스트 셀을 제공하며 상단에서 확인할 수 있습니다.

- code 셀에서 __ctrl+enter__를 누르면 해당 셀의 코드를 실행할 수 있습니다.

- code 셀에서 __shift+enter__를 누르면 해당 셀의 코드를 실행하고 다음 셀로 넘어갑니다.

In [1]:
print("Hello world")

Hello world

- 셀 바깥의 왼쪽에 [1], [2] 등으로 표시되는 숫자는 셀을 실행한 순서입니다. 한 셀을 반복해서 실행하면 숫자가 커지는 것을 보실 수 있습니다.
- print는 내용을 출력하는 기본적인 함수입니다. 아래와 같이 쉼표(comma)를 이용해서 여러 내용을 출력할 수 있습니다.

In [2]:
print(2020, "봄학기", "미디어 인터페이스")

2020 봄학기 미디어 인터페이스

code 셀이라도 코드 앞에 #(hash)을 붙이면 실행하지 않는 주석(comment)이 됩니다. 파이썬은 #로 코드와 주석을 구분하며, 코드 중간에 설명을 넣을 때 많이 사용합니다.

In [3]:
# print(2020, "봄학기", "미디어 인터페이스")
print("미디어 인터페이스")

미디어 인터페이스

### 변수

- 메모리에 어떤 값(value)을 저장하기 위해 이름(name)을 붙인 공간을 __변수__라고 합니다.
- 숫자(number), 문자열(string), 논리(boolean) 등 여러 가지 __자료형(type)__을 저장할 수 있습니다.
- 아래의 __'이름 = 값’__ 구조로 변수를 만들(정의할/선언할) 수 있습니다.
- 셀을 실행하면 __메모리에 저장__되고, 프로그램을 종료하기 전까지 가져오거나 변경할 수 있습니다.

<img src='https://github.com/eunyu1031/Media_interface_2020Spr/blob/master/pics/img1.png?raw=true'/>

In [4]:
myName = "홍길동"
myAge = 20
isFemale = False

print(myName, myAge, isFemale)

홍길동 20 False

메모리에 저장된 숫자 변수 myAge를 원래 숫자에 1을 더해서 새로운 숫자로 바꾸어 저장해 봅시다. 새로운 숫자로 바꾸어 저장하기 때문에 '이름=값'구조로 다시 변수를 선언합니다.
<img src='https://github.com/eunyu1031/Media_interface_2020Spr/blob/master/pics/image2.png?raw=true'/>
다른 변수 myName, isFemale은 건드리지 않았기 때문에 출력 결과는 같습니다.

In [5]:
myAge = myAge + 1

print(myName, myAge, isFemale)

홍길동 21 False

주피터 노트북에서는 셀을 실행하는 순서에 따라 메모리에 저장됩니다. 아래 예제로 살펴봅니다.<br>
우선 셀 (1)에서 변수 x, y에 각각 숫자 10, 7을 넣었습니다. 

#### ⓐ (1), (2), (3)을 순서대로 실행해 봅니다.
(1)에서는 x, y를 메모리에 저장만 했을 뿐이므로 출력 결과가 없지만, (2)를 실행했을 때 4라는 출력을 볼 수 있습니다. (3)에서는 아직 p와 q에 값을 저장하지 않았으므로 'NameError: name 'p' is not defined'가 나옵니다.

#### ⓑ 메모리를 초기화한 다음, (2)를 먼저 실행해 봅니다.
- Colab: 런타임 - 런타임 초기화 or 런타임 다시 시작
- 주피터: Kernel - Restart & Clear Output

상단의 메뉴에서 메모리를 초기화한 후에 (2)를 먼저 실행하면 'NameError: name 'x' is not defined'가 뜹니다. (3)의 에러와 같이, (2)에서 필요한 x, y라는 변수가 메모리에 저장되지 않았기 때문입니다.

주피터 노트북에서는 셀의 실행 순서가 중요하며, 변수를 선언(메모리에 저장)하기 전에 변수를 실행한다면 NameError를 볼 수 있습니다. 앞으로의 수업에서 비슷한 에러를 발견한다면 셀을 실행한 순서를 되짚어 보시기 바랍니다.

In [6]:
# (1) 변수 선언; 변수이름 = 값
x = 10
y = 6

In [7]:
# (2) 계산
x - y

4

In [8]:
# (3) Error
p + q

NameError: name 'p' is not defined

### 변수의 값 비교하기

아래의 비교연산자를 활용해서 변수의 값을 비교할 수 있습니다. <br>
다만 양 변의 값이 같은지 비교할 때 변수에 값을 할당하는 = (assignment operator)가 아닌 == (comparison operator)를 사용한다는 점에 주의합니다. 

비교한 결과는 True(참) 또는 False(거짓) 값을 가지는 논리 자료형(boolean)으로 확인할 수 있습니다.

<table>
<thead>
<tr>
<th align="center">비교연산자</th>
<th align="center">설명</th>
<th align="center">예</th>
</tr>
</thead>
<tbody>
<tr>
<td align="center">==</td>
<td align="center">값이 동일하다</td>
<td align="center">(a == b) → False</td>
</tr>
<tr>
<td align="center">!=</td>
<td align="center">값이 동일하지 않다</td>
<td align="center">(a != b) → True</td>
</tr>
<tr>
<td align="center">&gt;</td>
<td align="center">왼쪽 값이 오른쪽 값보다 크다</td>
<td align="center">(a &gt; b) → False</td>
</tr>
<tr>
<td align="center">&lt;</td>
<td align="center">왼쪽 값이 오른쪽 값보다 작다</td>
<td align="center">(a &lt; b) → True</td>
</tr>
<tr>
<td align="center">&gt;=</td>
<td align="center">왼쪽 값이 오른쪽 값보다 크거나 동일하다</td>
<td align="center">(a &gt;= b) → False</td>
</tr>
<tr>
<td align="center">&lt;=</td>
<td align="center">왼쪽 값이 오른쪽 값보다 작거나 동일하다</td>
<td align="center">(a &lt;= b) → True</td>
</tr>
</tbody>
</table>

In [9]:
# 변수이름 = 값
a = 10
b = 5

print('변수 a의 값', a, '변수 b의 값', b)

변수 a의 값 10 변수 b의 값 5

In [10]:
a == b # a와 b가 같은가?

False

In [11]:
a != b # a와 b는 다른가?

True

In [12]:
a > b # a는 b보다 큰가?

True

In [13]:
a < b # a는 b보다 작은가?

False

In [14]:
a >= b

True

In [15]:
a <= b

False

### 문자열 만들기

파이썬에서 문자열(string)을 입력하는 방식은 다음 네 가지가 있습니다. 
- mystr = "string"
- mystr = 'string'
- mystr = """string"""
- mystr = '''string'''

In [16]:
greeting = "Hello world" 

print(greeting)

Hello world

In [17]:
str2 = '"Python is easy", he said'

print(str2)

"Python is easy", he said

In [18]:
str3 = '''Three 
single 
quotes'''

print(str3)

Three
single
quotes

In [19]:
str4 = """Three 
double 
quotes"""

print(str4)

Three
double
quotes

따옴표로 둘러싸게 되면 숫자가 아니라 문자열이므로 헷갈리지 않도록 주의합니다. 문자열과 숫자는 셀에서 다른 색으로 표시되기 때문에 다른 자료형이라는 것을 쉽게 알아볼 수 있습니다.

In [20]:
isnum = "132"
print(isnum)

132

변수 'isnum'은 숫자가 아니라 문자열이며, 따라서 숫자 연산을 할 수 없습니다.

In [21]:
# Error
isnum + 1

TypeError: can only concatenate str (not "int") to str

### 출력하기

- print문을 사용해서 출력하는 것이 기본이지만, 노트북/colab은 따로 print를 하지 않아도 셀의 마지막 줄에 있는 변수의 값을 출력합니다.
- 다만 하나의 셀에서 여러 변수의 값을 출력하고 싶으면 print를 사용하세요.

In [22]:
greeting

'Hello world'

In [23]:
isnum

'132'

In [24]:
n = 1
m = 2
n
m

2

In [25]:
print(n)
print(m)

1
2

In [26]:
n == m

False

### 버전 확인

앞에 !(느낌표)를 붙이면 주피터 노트북/Colab은 명령 프롬트에서 입력한 것처럼 처리합니다. 이 기능을 이용하여 기본적으로 제공하지 않는 여러 시각화 패키지들을 설치할 수 있으며, 이번 시간에는 Python 3인지 버전을 확인하는 명령까지만 소개합니다.

In [27]:
!python -V

Python 3.8.3